html, body {
    width: 350px;
  }
  
  .hidden {
    display: none;
  }

  #popup-content {
    width: 100%;
  }

  #searchtext {
    width: 78%;
    /* height: 1.2rem; */
    /* font-size: 1.2rem; */
  }

  #org-select {
    max-width: 78%;
  }

  .org-link {
    margin-bottom: 1.1em;
  }

  .button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-family: sans-serif;
    /* font-size: 1.2em; */
    cursor: pointer;
  }
  
  /* .beast:hover {
    background-color: #CFF2F2;
  }
  
  .beast {
    background-color: #E5F2F2;
  }
  
  .reset {
    background-color: #FBFBC9;
  }
  
  .reset:hover {
    background-color: #EAEA9D;
  } */
  